{% extends 'base.html' %}

{% block content %}

    <div class="card m-5">
  <div class="card-header">
    Название: {{ product.product_title }}
        <a href="{% url 'product_update' product.pk %}"><i class="bi bi-folder-symlink border-success"></i></a>
        <a href="{% url 'product_delete' product.pk %}"><i class="bi bi-trash3"></i></a>
      {% include 'partial/form_add_to_cart.html' %}
    </div>
      <div class="card-body">
          <h5 class="card-title">Категория: {{ product.get_category_display }}</h5>
            <p class="card-text">Описание: {{ product.description|default:"-" }}</p>
            <p class="card-text">Остаток: {{ product.residual }}</p>
            <p class="card-text">Цена: {{ product.price }}</p>


          <h5>Комментарий: </h5>
          {% for comment in  product.comments.all %}
            <p>{{ comment.text }}</p>
              {% empty %}
              <p>Комментариев нет</p>

        {% endfor %}
      </div>






    </div>

{% endblock %}
